.App {
  border: 1px solid grey;
  text-align: left;
  margin: 20px;
  width: 500px;
  height: 500px;
  background: #FAFCCD;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #ADADAD;
}

.todos {
  border: 1px solid grey;
  /*font-size: large;*/
  list-style: none;
}

li {
  border: 1px solid grey;
 /* padding: 20px;
  margin: 0px 30px 10px 0px;*/
}
